    body {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: "Open Sans", sans-serif;
        color: #1e1e1e;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
    }
    
    @font-face {
        font-family: 'pf_handbook_prothin';
        src: url(../fonts/HandbookPro.ttf) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);
    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    
    h2 {
        font-family: 'pf_handbook_prothin', 'Open Sans', serif;
        font-weight: bold;
    }
    
    img {
        max-width: 100% !important;
        /*height: auto !important;*/
    }
    
    section {
        margin: 20px 0px;
    }
    
    .table-responsive tr:last-child {
        border-right: #d6d6d6 1px solid;
    }
    
    .table-responsive td {
        vertical-align: baseline;
        padding: 0px 5px;
        border-left: #d6d6d6 1px solid;
        width: 25%;
    }
    
    .table-responsive th {
        background: #edf300;
        padding: 5px;
    }
    
    .table-responsive tbody {
        border-bottom: #d6d6d6 1px solid;
    }
    
    ul {
        list-style: none;
    }
    
    p {
        line-height: 24px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    a>img {
        width: 35px;
    }
    
    a {
        outline: none;
        color: #0B91EA;
        text-decoration: none;
    }
    
    a:hover,
    a:focus {
        text-decoration: none;
    }
    
    #header {
        border-bottom: #d6d6d6 1px solid;
    }
    
    #header ul {
        float: right;
        margin: 0px;
    }
    
    #header ul li {
        display: inline-block;
        position: relative;
    }
    
    #logo-container {
        float: left;
        margin-top: 10px;
    }
    
    #logo-container>a {
        float: left;
        padding: 10px;
    }
    
    #header ul a {
        display: block;
        padding: 25px 15px;
    }
    
    #third {
        float: right;
        width: 25%;
        position: relative;
    }
    
    #sixth {
        width: 75%;
        float: left;
    }
    
    #sixth h2 {
        margin-bottom: 25px;
        font-size: 34px;
        line-height: 40px;
        text-align: right;
    }
    
    .hr-invisible-small {
        float: left;
        width: 100%;
        margin: 20px 0px;
        display: block;
        clear: both;
    }
    
    .hr-invisible {
        float: left;
        width: 100%;
        margin: 40px 0px;
        display: block;
        clear: both;
    }
    
    .no-margin {
        margin: 0px;
    }
    
    .rightimg {
        float: right;
        width: 40%;
        padding-left: 10px;
    }
    
    .rightimg.in {
        width: auto;
    }
    
    .leftimg {
        float: left;
        width: 40%;
        padding-right: 10px;
    }
    
    .small {
        width: 25%;
    }
    
    .bg-text p,
    .bg-text2 p {
        padding: 0px 7px;
    }
    
    .bg-text p:nth-child(2n-1) {
        background: antiquewhite;
    }
    
    .bg-text p:nth-child(2n) {
        background: whitesmoke;
    }
    
    .bg-text2 p:nth-child(2n-1) {
        background: #fbffc9;
    }
    
    .bg-text2 p:nth-child(2n) {
        background: whitesmoke;
    }
    
    #five-cells th {
        width: 20%;
        background: #f49c14;
        color: white;
    }
    
    #five-cells td {
        width: 20%;
    }
    
    .wrapper {
        margin-bottom: 20px;
    }
    
    .margin-top {
        margin-top: 20px;
    }
    
    .icons img {
        width: 25%;
    }
    
    .center-text {
        text-align: center;
    }
    
    .glyphicon-fire {
        color: red;
    }
    
    .block-out,
    .jobs {
        text-align: center;
        margin-top: 40px;
    }
    
    .jobs img {
        width: 40%;
    }
    
    .no-float {
        display: inline-table;
        float: initial;
    }
    
    .col-xs-4 {
        width: 33%;
    }
    
    footer p {
        font-weight: lighter;
    }
    /*-----admin----*/
    
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }
    
    .admin-form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
    .admin-form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    
    .admin-form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #00a1e0;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: .3s ease 0s;
        cursor: pointer;
    }
    
    .admin-form button:hover,
    .admin-form button:active,
    .admin-form button:focus {
        background: #147fa9;
    }
    
    .admin-body {
        background: #52b8b8;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #52b8b8, #c4e0d4);
        background: -moz-linear-gradient(right, #52b8b8, #c4e0d4);
        background: -o-linear-gradient(right, #52b8b8, #c4e0d4);
        background: linear-gradient(to left, #52b8b8, #c4e0d4);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /*---------------staff---------------*/
    
    .staff-block {
        margin-top: 10px;
    }
    
    .grey {
        margin-top: 0px;
        text-align: center;
        background: whitesmoke;
    }
    
    .cons {
        line-height: 24px;
        list-style: outside;
        padding-left: 20px;
    }
    
    .grey-href {
        display: block;
        float: right;
        padding: 10px 0px;
    }
    
    .block-inside-i,
    .block-inside {
        padding: 15px;
        border: 1px solid #d4d4d4;
        transition: .3s ease 0s;
    }
    
    .block-inside-i {
        margin-top: 15px;
    }
    
    .block-inside-i .date-wrapper span {
        color: #9b9999;
    }
    
    .block-inside-i .date-wrapper {
        margin-bottom: 3px;
    }
    
    .block-inside-i .block-content {
        height: 215px;
        overflow: hidden;
    }
    
    .block-inside:hover {
        box-shadow: 0.2px 0.2px 15px 2px #cad4d8;
    }
    
    .block-inside-i .image-block-wrapper {
        display: table;
        margin: 0 auto;
        height: 160px;
    }
    
    .block-inside-i .image-block-wrapper img {
        display: table-cell;
        max-height: 160px;
    }
    
    .staff-block-admin-a {
        display: inline-block;
        width: 49%;
        text-align: center;
        padding: 10px 0px;
        color: white;
    }
    
    .staff-block-admin-a:hover,
    .staff-block-admin-a:active,
    .staff-block-admin-a:focus {
        color: white;
    }
    
    .staff-block-admin-a.edit {
        background: #00a1e0;
    }
    
    .staff-block-admin-a.delete {
        background: #ff4040;
    }
    
    .staff-block-admin-a.edit:hover {
        background: #048cc1;
    }
    
    .staff-block-admin-a.delete:hover {
        background: #eb3434;
    }
    
    .image-caption-wrapper {
        padding-top: 15px;
        overflow: hidden;
    }
    
    .image-caption h4 {
        background: whitesmoke;
        font-family: 'pf_handbook_prothin', 'Open Sans', serif;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
        padding: 5px;
        margin: 0px;
    }
    
    .services-header-container,
    .staff-header-container {
        background: rgb(247, 249, 75);
    }
    
    .services-header h2,
    .staff-header h2 {
        margin: 14px 0px;
    }
    
    .services-header h2 {
        text-align: center;
    }
    
    .staff-small-header h4 {
        font-family: Helvetica, "Open Sans", sans-serif;
        font-weight: 500;
        line-height: 1.5;
        font-size: 14px;
    }
    
    .team-header-inside h2 {
        text-align: center;
    }
    
    .team-header-inside h2:after {
        border-bottom: thin solid #cad4d8;
        width: 20rem;
        content: "";
        display: block;
        margin: 0 auto 10px auto;
    }
    
    .image-caption {
        color: #1e1e1e;
        font-weight: 600;
    }
    /*----------------header style---------------*/
    
    .themonic-nav {
        text-align: center;
        float: left;
        width: 100%;
    }
    
    .themonic-nav li {
        font-size: 12px;
        line-height: 1.42857143;
        width: auto;
    }
    
    .themonic-nav li:hover {
        text-decoration: none;
        background: #00A1E0;
        color: white;
    }
    
    .themonic-nav li:hover>a {
        color: white;
    }
    
    .themonic-nav li a {
        padding: 10px 0px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        transition: .3s ease 0s;
    }
    
    .themonic-nav li a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .nav-menu {
        padding: 0px;
    }
    /*------------------news------------------*/
    
    .entry-header img.wp-post-image {
        margin-bottom: 24px;
    }
    
    .entry-header .entry-title {
        font-size: 28px;
        line-height: 1.2;
        font-weight: bold;
        margin: 0px;
    }
    
    .entry-header .entry-title a {
        color: #444444;
        text-decoration: none;
    }
    
    .entry-admin {
        float: right;
        padding-left: 10px;
    }
    
    .entry-header .entry-title a:hover {
        color: #111111;
    }
    
    .entry-content,
    .entry-summary {
        line-height: 1.714285714;
    }
    
    .entry-content p,
    .entry-summary p {
        margin: 0px;
        line-height: 1.714285714;
    }
    
    .site-content article {
        border-bottom: 2px double #F3F3F3;
        margin-bottom: 20px;
        padding: 20px 0px;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    
    .archive-title,
    .page-title {
        font-size: 11px;
        line-height: 2.181818182;
        font-weight: bold;
        text-transform: uppercase;
        color: #636363;
    }
    
    .site-content nav {
        border: 1px solid #EDEDED;
        background: #f9f9f9;
        clear: both;
        line-height: 2;
        margin-bottom: 28px;
        overflow: hidden;
        padding: 2%;
    }
    
    .site {
        padding: 0 24px;
        background-color: #fff;
    }
    
    .site-content {
        margin-left: 14px;
    }
    
    .page-header {
        margin-bottom: 48px;
        padding-bottom: 22px;
        border-bottom: 1px solid #ededed;
    }
    
    .image-container {
        float: left;
        padding-right: 2%;
        padding-bottom: 2%
    }
    
    .wrapper2 {
        border: 1px solid #e9e9e9;
    }
    
    .wrapper2:after {
        clear: both;
    }
    
    .wrapper2:before,
    .wrapper2:after {
        display: table;
        content: "";
    }
    
    .main-image {
        display: inline-block;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    
    .nav-previous,
    .nav-next {
        display: inline-block;
        width: 47%;
    }
    
    .nav-previous a {
        display: block;
        float: left;
    }
    
    .nav-next a {
        display: block;
        float: right;
        text-align: right;
    }
    /*--------------------pager -------------------*/
    
    .pager a {
        display: inline-block;
        color: #16a1e7;
        border: 1px solid;
        margin-right: 0px;
        padding: 5px 18px 5px 10px;
        width: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        -webkit-transition: background .3s;
        -moz-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;
    }
    
    .pager a:hover,
    .pager a.active {
        color: #FFFFFF;
        background: #16a1e7;
        text-decoration: none;
    }
    /*------------------addnews------------------*/
    
    .admin-control {
        padding: 10px;
        color: white;
        display: inline-block;
        border: 1px solid transparent;
        background: #00a1e0;
    }
    
    .admin-control:hover {
        color: white;
        background: #0B91EA;
    }
    
    .editBlock {
        border-top: 1px solid #d7d7d7;
        background: #f8f8f8;
    }
    
    .editBlock>div {
        display: initial;
    }
    
    .editBlock span {
        display: inline-block;
        width: 18%;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 15px;
    }
    
    .editBlock input {
        width: 80%;
        display: inline-block;
    }
    /*------------------employee-------------*/
    
    .e-grid {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .employee-wrapper {
        padding: 25px 0 !important;
    }
    
    .single-employee-sidebar {
        width: 100%;
        margin-bottom: 25px;
        float: left;
    }
    
    .single-employee-content {
        padding-left: 0px;
    }
    
    .employee-image {
        text-align: center;
    }
    
    .employee-image img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        border: 0;
        vertical-align: middle;
    }
    
    .employee-text h2 {
        letter-spacing: 0px;
        text-transform: uppercase;
        font-family: "Roboto";
        font-size: 16px;
        color: #393836;
        text-align: center;
        font-weight: bold;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    .employee-text li,
    .employee-text p {
        color: #656262;
        line-height: 1.66em;
    }
    
    .employee-text li {
        list-style: square;
    }
    
    .employee-text table {
        border-collapse: collapse;
        width: 100%;
    }
    
    .employee-text th,
    .employee-text td {
        text-align: left;
        padding: 8px;
    }
    
    .employee-text tr:nth-child(even) {
        background-color: #f2f2f2
    }
    
    .employee-text i {
        cursor: pointer;
        padding: 3px;
    }
    
    @media screen and (max-width: 768px) {
        .block-inside-i .block-content {
            height: auto;
        }
        .map iframe {
            width: 100%;
        }
        .staff-block-admin-a {
            width: 100%;
        }
        table {
            width: 100% !important;
        }
        .site-header {
            text-align: center;
            height: auto;
            border: none;
            background: #302927;
        }
        .themonic-nav {
            box-shadow: none;
        }
        .link-comments {
            display: none;
        }
        .wrapper2 {
            border: none;
        }
        .image-container {
            width: 25%;
        }
    }
    
    @media (min-width: 768px) {
        .block-inside-i .image-block-wrapper img {
            display: table-cell;
            max-height: 100px;
        }
        .block-inside-i .image-block-wrapper {
            display: table;
            margin: 0 auto;
            height: 100px;
        }
        .inner {
            padding-left: 15px;
        }
        .find-us {
            float: left;
            width: 50%;
        }
        .map iframe {
            width: 50%;
        }
        .staff-block-admin-a {
            width: 100%;
        }
        .icons>div {
            width: 25% !important;
            float: left;
        }
        .icons img {
            width: 50%;
        }
        .site {
            margin: 0 auto;
            max-width: 1040px;
        }
        .site-content {
            padding: 5px 2% 0 1%;
        }
        body.template-front-page .site-content,
        body.single-attachment .site-content,
        body.full-width .site-content {
            width: 96%;
            border-right: none;
        }
        .site-header h1,
        .site-header h2 {
            text-align: left;
        }
        .site-header h1 {
            font-size: 26px;
            line-height: 1.446153846;
            margin-bottom: 0;
        }
        .themonic-nav ul.nav-menu,
        .themonic-nav div.nav-menu>ul {
            background: #302927;
            border-bottom: 5px solid #00A1E0;
            border-top: 1px solid #ededed;
            padding: 0px;
            text-align: left;
            width: 100%;
        }
        .themonic-nav ul {
            margin: 0;
            text-indent: 0;
        }
        .themonic-nav li a,
        .themonic-nav li {
            display: inline-block;
            text-decoration: none;
            padding: 0px;
        }
        .themonic-nav li a {
            border-bottom: 0;
            color: #fff;
            line-height: 3.692307692;
            padding: 0 20px;
            text-transform: uppercase;
            white-space: nowrap;
            transition: .3s ease 0s;
        }
        .themonic-nav li a:hover {
            color: #fff;
            text-decoration: none;
        }
        .themonic-nav li {
            position: relative;
        }
        .themonic-nav li ul {
            display: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 100%;
            z-index: 1;
        }
        .themonic-nav li ul ul {
            top: 0;
            left: 100%;
        }
        .themonic-nav ul li:hover>ul {
            border-left: 0;
            display: block;
        }
        .themonic-nav li ul li a {
            background: #EFEFEF;
            border-bottom: 1px solid #F9F9F9;
            display: block;
            font-size: 11px;
            line-height: 2.181818182;
            padding: 8px 10px;
            width: 160px;
            white-space: normal;
        }
        .themonic-nav li ul li a:hover {
            background: #e9e9e9;
            color: #444;
        }
        .entry-header .entry-title {
            font-size: 28px;
            margin: 0px;
        }
        .image-container {
            width: 30%;
        }
        .column-container {
            float: left;
            width: 100%;
        }
        .single-employee-sidebar {
            width: 275px;
            margin-bottom: 0px;
        }
        .employee-image {
            text-align: initial;
        }
        .single-employee-content {
            padding-left: 375px;
        }
        .employee-text h2 {
            text-align: left;
        }
    }
    
    @media (min-width: 992px) {
        .block-inside-i .block-content {
            height: 260px;
        }
        .staff-block-admin-a {
            width: 49%;
        }
        .employee-wrapper {
            padding: 17px;
        }
        .icons img {
            width: 50%;
        }
        body .site {
            padding: 24px 24px 0;
            margin-bottom: 24px;
        }
        .image-container {
            width: 17%;
        }
        .block-inside-i .image-block-wrapper img {
            display: table-cell;
            max-height: 160px;
        }
        .block-inside-i .image-block-wrapper {
            display: table;
            margin: 0 auto;
            height: 160px;
        }
    }
    
    @media (min-width: 1200px) {
        .staff-block {
            position: relative;
            min-height: 1px;
            width: 20%;
            float: left;
        }
    }
    
    @media print {
        .site {
            clear: both !important;
            display: block !important;
            float: none !important;
            max-width: 100%;
            position: relative !important;
        }
        .site-header {
            margin-bottom: 72px;
            text-align: left;
        }
        .site-header h1 {
            font-size: 21pt;
            line-height: 1;
            text-align: left;
        }
        .site-header h2 {
            color: #000;
            font-size: 10pt;
            text-align: left;
        }
        .site-header h1 a,
        .site-header h2 a {
            color: #000;
        }
        .entry-header .comments-link,
        .entry-meta .edit-link a,
        .page-link,
        .site-content nav,
        {
            display: none;
        }
        .wrapper2 {
            border-top: none;
            box-shadow: none;
        }
        .site-content {
            margin: 0;
            width: auto;
        }
        .entry-header .entry-title,
        .entry-title,
        .singular .entry-title {
            font-size: 21pt;
        }
    }